{% extends "base.html" %}
{%block title %}Sign Up{%endblock%}
{%block content%}
<form method="POST">
    <h2 align="center">Sign Up</h2>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
         class="form-control"
         id="email" name="email" 
         placeholder="Enter email...">

    </div>
    <div class="form-group">
        <label for="firstName">Name</label>
        <input type="firstName"
         class="form-control"
         id="firstName" name="firstName" 
         placeholder="Enter name...">

    </div>
    <div class="form-group">
        <label for="pass1">Password</label>
        <input type="pass1"
         class="form-control"
         id="pass1" name="pass1" 
         placeholder="Enter password...">

    </div>
    <div class="form-group">
        <label for="pass2">Confirm Password</label>
        <input type="pass2"
         class="form-control"
         id="pass2" name="pass2" 
         placeholder="Confirm password...">

    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>





{%endblock%}
